@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1A1A40;
  padding: 0px 20px;
  position: relative;
  animation: colors 15s ease infinite;
}
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.start-robot {
  width: 100%;
  max-width: 320px;
}

.start-container {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 15px;
  border-radius: 30px;
  padding: 20px;
  background-color: #101013;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 350px;
  max-width: 100%;
  z-index: 1;
  transition: all 0.7s ease-in-out;
}
.start-container .start-new-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.start-container .start-new-chat h1 {
  max-width: 250px;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  text-shadow: rgba(255, 255, 255, 0.35) 0px 0px 4px;
}
.start-container .start-new-chat p {
  font-size: 0.9rem;
  max-width: 270px;
  text-align: center;
  margin: 20px 0px;
  color: #d3caca;
  font-weight: 100;
}
.start-container .btn-start {
  width: 100%;
  padding: 22px;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.start-container .btn-start:hover {
  background-color: #777676;
  transition: 500ms;
  box-shadow: rgb(255, 255, 255) 0px 0px 3px;
  color: #fff;
}

@media (max-width: 500px) {
  .start-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}
.robot-profile {
  width: 100%;
  max-width: 45px;
  border-radius: 50%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatGPT {
  background-color: #101013;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 15px;
  padding: 20px;
  height: 625px;
  width: 360px;
  border-radius: 30px;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  position: absolute;
  width: 350px;
  max-width: 100%;
  height: 70%;
}
.chatGPT .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.chatGPT .profile .btn-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  border: none;
}
.chatGPT .profile .btn-arrow:hover {
  background-color: #777676;
  transition: 500ms;
  box-shadow: rgb(255, 255, 255) 0px 0px 3px;
  color: #fff;
}
.chatGPT .profile .online-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.chatGPT .profile .online-container h4 {
  color: #fff;
}
.chatGPT .profile .online-container .online {
  color: #d3caca;
  display: inline-block;
  text-align: center;
  font-size: 0.7rem;
}
.chatGPT .profile .online-container .online::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 6px;
  bottom: 5.5px;
  background-color: #4ee44e;
}
.chatGPT .chat {
  margin: 20px 0px;
  height: 74%;
  overflow-y: auto;
  background-color: #151516;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgb(3, 3, 3) 0px 0px 5px;
  position: relative;
}
.chatGPT .chat::-webkit-scrollbar {
  width: 10px;
  border: 2px solid #101013;
}
.chatGPT .chat::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 2px;
}
.chatGPT .chat .stats-container {
  position: relative;
}
.chatGPT .chat .stats-container .stats {
  display: none;
}
.chatGPT .chat .stats-container .stats::before {
  content: "";
  animation: is-rotating 1s infinite;
  padding: 12px;
  border-radius: 50%;
  border: 6px solid #e5e5e5;
  border-top-color: #51d4db;
  position: absolute;
  left: 43%;
  top: 0;
}
@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
.chatGPT .chat .question-container {
  display: flex;
  justify-content: flex-end;
}
.chatGPT .chat .question-container .user {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
}
.chatGPT .chat .response-container {
  display: flex;
}
.chatGPT .chat .response-container .robot {
  width: 100%;
  max-width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatGPT .chat p {
  max-width: 300px;
  padding: 10px 10px 20px 10px;
  color: #d3caca;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
.chatGPT .chat .question {
  text-align: right;
}
.chatGPT .chat .response {
  padding-top: 0px;
}
.chatGPT .input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.chatGPT .input-container input {
  width: 100%;
  height: 100%;
  padding: 19px;
  border-radius: 30px;
  border: 1px solid transparent;
  border: none;
  box-shadow: rgb(3, 3, 3) 0px 0px 5px;
  outline: none;
  background-color: #151516;
  color: #fff;
}
.chatGPT .input-container input:focus {
  border: 1px solid #fff;
}
.chatGPT .input-container .send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 13px;
  border: none;
  cursor: pointer;
}
.chatGPT .input-container .send-button:hover {
  background-color: #777676;
  transition: 500ms;
  box-shadow: rgb(255, 255, 255) 0px 0px 3px;
  color: #fff;
}
.chatGPT .input-container .material-symbols-outlined {
  transform: rotate(-60deg);
  margin-bottom: 2px;
}

@media (max-width: 500px) {
  .chatGPT {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
  .chatGPT .chat {
    height: 80%;
  }
}/*# sourceMappingURL=index.css.map */